<html>

<head>
	<title>[NAME] - [VERSION]</title>
</head>

<body bgcolor="white">

<!- ============= header ============= -->
<h2>
	<font size="-1">[PACKAGE]</font>
	<br />
	[NAME]
</h2>
<p />
version: [VERSION]
<br />
mzmatch version: [MZMATCH]
<br />
author: [AUTHOR]

<hr />

<pre>
[PACKAGE].[NAME]
</pre>

[DESCRIPTION]
<p />
<b>Example(s)</b>
<pre>
[EXAMPLE]
</pre>

<p />
<b>References:</b><br />
[REFERENCES]

<hr />
<p />

<!- ============= options ============= -->
<table border="1" width="100%" cellpadding="3" cellspacing="0" summary="">
<tr bgcolor="#CCCCFF">
	<th align="left" colspan="2"><font size="+2"><b>Commandline options*</b></font></th>
</tr>
[OPTIONS]
</table>
<font size="-1">
	* per option: [] denotes multiple input values; <> denotes a single input value
</font>

</body>
</html>


